#basicinfo { color: #fff }
#basicinfo { position:absolute; top:0px; left:0px; width:360px; height:60px; font-size:11px; text-shadow:1px 1px black; }

/* LARGE */
#basicinfo .large .hp_title { position:absolute; top:10px; left:15px;  }
#basicinfo .large .sp_title { position:absolute; top:10px; left:185px;  }
#basicinfo .large .hp_bar, #basicinfo .large .sp_bar { position:absolute; top:13px; left:35px; width:135px; height:8px; }
#basicinfo .large .sp_bar { left:205px; }
#basicinfo .large .hp_bar div, #basicinfo .large .sp_bar div { width:4px; height:8px; float:left; }
#basicinfo .large div.hp_bar_perc, #basicinfo .large div.sp_bar_perc { text-align:center; width:127px; font-size:10px; position:absolute; top:-2px; }
#basicinfo .large .blvl { position:absolute; top:30px; left:15px; }
#basicinfo .large .jlvl { position:absolute; top:30px; left:185px; }
#basicinfo .large .bexp, #basicinfo .large .jexp{ position:absolute; top:34px; left:82px; width:84px; height:4px; border:1px solid #afafaf; background-color:white; }
#basicinfo .large .bexp div, #basicinfo .large .jexp div { position:absolute; top:0px; left:0px; width:0%; height:4px; background-color:#4262a5; }
#basicinfo .large .jexp { left:252px; }
#basicinfo .large .name { position:absolute; left:10px; top:40px; }
#basicinfo .large .job  { position:absolute; left:180px; top:40px; }
