<div id="basicinfo" class="large" data-preload="basic_interface/gzered_left.bmp;basic_interface/gzered_mid.bmp;basic_interface/gzered_right.bmp;basic_interface/gzeblue_left.bmp;basic_interface/gzeblue_mid.bmp;basic_interface/gzeblue_right.bmp">

	<!-- LARGE INTERFACE -->
	<div class="large">
		<div class="hp_title">HP</div>
		<div class="hp_bar">
			<div class="hp_bar_left"></div>
			<div class="hp_bar_middle"></div>
			<div class="hp_bar_right"></div>
			<div class="hp_bar_perc"><span class="hp_value"></span> / <span class="hp_max_value"></span></div>
		</div>

		<div class="sp_title">SP</div>
		<div class="sp_bar">
			<div class="sp_bar_left"></div>
			<div class="sp_bar_middle"></div>
			<div class="sp_bar_right"></div>
			<div class="sp_bar_perc"><span class="sp_value"></span> / <span class="sp_max_value"></span></div>
		</div>

		<div class="blvl">Base Lv. <span class="blvl_value"></span></div>
		<div class="bexp">
			<div> </div>
		</div>

		<div class="jlvl">Job Lv. <span class="jlvl_value"></span></div>
		<div class="jexp">
			<div></div>
		</div>

		<div class="name"><span class="name_value"></span></div>
		<div class="job"><span class="job_value"></span></div>
	</div>

</div>